body {
  font-family: 'Aldrich', sans-serif;
}

.bg-totem{
  background: url('/images/totem_gif.gif'),url('/images/fondo_webapp.jpg');
  background-size: 25%, contain;
  background-repeat: no-repeat;
  background-position: 100% 0%, center;
  width: 1080px;
  height: 1920px;
}

.text-blue{
  color: #9BbbC4;
}

.text-gray{
  color: #bbbbbb;
}

.pt-caminos{
  padding-top: 80px;
}

.input-home{
  background-color: transparent;
  border: 2px solid #bbbbbb;
  border-radius: 10px;
  color: #bbbbbb;
  padding: 5px 10px;
}

.input-asistente{
  background-color: transparent;
  border: 2px solid #bbbbbb;
  border-radius: 10px;
  color: #bbbbbb;
  padding: 10px 10px;
  width: 100%
}

.btn-caminos{
  background-color: transparent;
  color: #bbbbbb;
  border: 2px solid #bbbbbb;
}

.input:focus-visible{
  outline: none;
}

.santiago{
    background-color: transparent;
    opacity: 0.5;
    position: absolute;
    height: 120px;
    width: 120px;
    top: 23%;
    left: 26%;
}

.bilbao{
  background-color: transparent;
  opacity: 0.5;
  position: absolute;
  height: 120px;
  width: 120px;
  top: 21%;
  left: 48%;
}

.barcelona{
  background-color: transparent;
  opacity: 0.5;
  position: absolute;
  height: 120px;
  width: 120px;
  top: 26%;
  left: 70%;
}

.madrid{
  background-color: transparent;
  opacity: 0.5;
  position: absolute;
  height: 120px;
  width: 120px;
  top: 30%;
  left: 44%;
}

.valencia{
  background-color: transparent;
  opacity: 0.5;
  position: absolute;
  height: 90px;
  width: 120px;
  top: 33%;
  left: 59%;
}

.elche{
  background-color: transparent;
  opacity: 0.5;
  position: absolute;
  height: 120px;
  width: 120px;
  top: 38%;
  left: 59%;
}

.sevilla{
  background-color: transparent;
  opacity: 0.5;
  position: absolute;
  height: 70px;
  width: 70px;
  top: 42%;
  left: 36%;
}

.malaga{
  background-color: transparent;
  opacity: 0.5;
  position: absolute;
  height: 70px;
  width: 70px;
  top: 44%;
  left: 42.5%;
}

.mh-600{
  max-height: 600px;
}

.check-input{
  width: 2em;
  height: 2em;
  margin-top: .25em;
  vertical-align: top;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(187,187,187,.25);
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.check-input:checked {
  background-color: transparent;
  border-color: #bbbbbb;
  color: #bbbbbb;
  background-image: url('/images/tick.svg');
  background-position: center;
  background-size: 70%;
}

.fs-13rem{
  font-size: 1.3rem;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bbbbbb #1a153c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 3px;
    border: 3px solid #bbbbbb;
  }

  .overflow-y-scroll{
    overflow-y: scroll;
  }

  .enlace{
    text-decoration: none;
  }

  .enlace:hover{
    color: #bbbbbb;
  }